{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>GDZHub</title>
    <link rel="stylesheet" href="{% static 'css/links_hub.css' %}">
</head>
<body>
    {% for link in links %}
        <div class="link_card">
            <div class="hyperlink"><a href={{ link.url }}>{{ link.name }}</a></div>
            <div class="descrip"><p>{{ link.description }}</p></div>
            <div class="reviews_block">
                <p class="fs_35">Отзывы</p>
                <div class="reviews">
                    {% for review in link.reviews %}
                        <p class="review">{{ review }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="link_card">
        <p class="fs_35">Оставить отзыв</p>
        <form method="POST" class="review_form">{% csrf_token %}
            {{ review_form }}
            <button type="submit" class="send_button">Отправить</button>
        </form>
    </div>
</body>
</html>