<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GDZHub</title>
</head>
<body>
    <div>
        <h1>Список ссылок</h1>
        <ul class="links_list">
            <li><a href="https://gdz.ru/?ysclid=lv7u4s0ls9406596258">gdz.ru</a></li>
            <li><a href="https://megaresheba.ru/?ysclid=lv7u5n0q3p688096816">megaresheba.ru</a></li>
            <li><a href="https://reshak.ru/?_ym_debug=2&ysclid=lv7u6vx2nq21871221">reshak.ru</a></li>
            <li><a href=https://pomogalka.me/?ysclid=lv7u75rq6c737107519">pomogalka.me</a></li>
            <li><a href="https://www.euroki.org/popular_reshebniki?ysclid=lv7u7eg49b566096628">euroki.org</a></li>
            <li><a href="https://otvetkin.info/?ysclid=lv7u7nnxp784103416">otvetkin.info</a></li>
        </ul>
    </div>
</body>
</html>