{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GDZHub</title>
    <link rel="stylesheet" href="{% static 'css/links_hub.css' %}">
</head>
<body>
    {% for link in links %}
        <div class="link_card">
            <div class="hyperlink"><a href={{ link.url }}>{{ link.name }}</a></div>
            <div class="descrip"><p>{{ link.description }}</p></div>
        
            <p>Отзывы</p>
            <div class="reviews">
                {% for review in link.reviews %}
                    <p class="review">{{ review }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div>
        <p>Оставить отзыв</p>
        <form method="POST" class="review_form">{% csrf_token %}
            {{ review_form }}
            <button type="submit" class="send_button">Отправить</button>
        </form>
    </div>
</body>
</html>