<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>GDZHub</title>
</head>
<body>
    <p>Привет, ты попал на сайт, который поможет в поиске бесплатных русскоязычных решебников с первого по одиннадцатый класс среднего образования, пользуйся на здоровье :)</p>  <!-- Тут текст с описанием содержимого сайта -->
    <form method="post" class="s_form">{% csrf_token %}
        <input class="s_button" type="Submit" name="submit" value="Перейти к решебникам"/>  <!-- Текст кнопки тоже поменяешь -->
    </form>
</body>
</html>