.link_card {
    background-color: #727272;
    width: 1500px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.hyperlink {
    font-size: 48px;
    font-family: "Roboto Thin";
}

.descrip {
    font-size: 18px;
    font-family: "Roboto Thin";
}

.reviews {
    overflow: auto;
    width: 1400px;
    height: 100px;
}

.review {
    background-color: #c5c5c5;
}
