body {
    background-color: #212222;
    color: white;
    font-family: FreeMono, monospace
}

.hat{
    background-color: #363636;
    padding: 15px;
    font-size: 35px;
}

.card {
    background-color: #444444;
    width: auto;
    height: auto;
    margin-left: 130px;
    margin-right: 130px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
    padding-bottom: 15px;
    font-size: 18px;
}

.s_button {
    background-color: #777777;
    border-radius: 10px;
    border-color: #777777;
    padding: 10px;
    color: white;
}
